*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ;
}
@font-face{
  font-family: myFont;
  src: url('tahomabd.ttf');
}
@font-face{
  font-family: secMyFont;
  src: url('tahoma.ttf');
}

/* LOADING SCREEN */
#loadingScreen{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 5;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

        #loadingScreen #logo img{
          width: 300px;
          height: auto;
          margin-top: 0px;
        }
        
        /* LOAD ANIMATION */
        .loader-area {
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}

.loader {
    width: 60px;
    height: 60px;
    border: 3px solid gold;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rot 1s linear infinite;
}

@keyframes rot {
    100% {
        transform: rotate(360deg);
    }
}
        
body{
  background: #000;
  color: #eee;
  width: 100vw;
  background-image: url('45.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background: rgb(245,245,245);
  color: #000;
}


/* headers & fonts */
h1,h2,h3,h4{
  font-family: myFont;
}
h2,h3{
  color: #000;
}
body{
  font-family: secMyFont;
}
/*  wrapper */
#wrapper{
  max-width: 1200px;
  margin: auto;
  
}

/* header design is bellow here  */
header{
  height: 70px;
  background-color: ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}



#hero-section{
  padding: 10px;
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: ;
  padding-bottom: 50px;
  margin-bottom: 60px;
  background: #000;
  color: #eee;
  min-height: 80vh;
}
#hero-section .hero{
  background: transparent;
  border-radius: 10px;
}

#hero-section .h-box{
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.hero img{
  width: 100%;
  height: auto;
}
.hero{
  max-width: 600px;
  height: auto;
}
.h-note {
  width: 300px;
}
#hero-section .h-box h1{
  font-size: 40px;
}

/* ABOUT SECTION */
#about-section{
  
}
#about-section #ab-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#about-section h3{
  padding: 10px;
  padding-left: 0px;
  text-align: center;
}
#about-section .ab-box{
  width: 350px;
  height: 350px;
  margin-top: 50px;
}
#about-section #ab-img{
  background-position: center;
  background: ;
}
#ab-img img{
  display: ;
  border-radius: 15px;
}
#ab-note p{
  line-height: 1.5em;
  text-align: justify;
}


/* CEO SECTION */
#ceo-section{
  
}
#ceo-section #ceo-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#ceo-section h3{
  padding: 20px;
  padding-left: 0px;
  text-align: center;
}
#ceo-section .ceo-box{
  width: 350px;
  height: fit-content;
  margin-top: 50px;
}
#ceo-section #ceo-img{
  background-image: url('');
  background: #333;
}
#ceo-img img{
}
#ceo-note p{
  line-height: 1.5em;
  text-align: justify;
}




marquee{
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
  margin: 100px auto;
  background: transparent;
  border-radius: 13px;
}
marquee .mrk-box{
  width: 100px;
  height: 150px;
  border-radius: 12px;
  background: rgb(10,10,10);
  transform: rotatez(15deg);
  box-shadow: 4px 4px 7px #000;
  margin-right: 100px;
  display: inline-block;
}
#b-1{
  background-image: url('flyers/IMG_9386_transcpr.jpg');
  background-position: center;
  background-size: cover;
}
#b-2{
  background-image: url('gOne/food flyer_transcpr.jpg');
  background-position: center;
  background-size: cover;
}
#b-3{
  background-image: url('gOne/dtm_transcpr.jpg');
  background-position: center;
  background-size: cover;
}


#b-4{
  background-image: url('gOne/IMG_3640_transcpr.jpg');
  background-position: center;
  background-size: cover;
}
#b-5{
  background-image: url('gOne/IMG_3829-3_transcpr.jpg');
  background-position: center;
  background-size: cover;
}
#b-6{
  background-image: url('flyers/OMZO COVER_transcpr.jpg');
  background-position: center;
  background-size: cover;
}
#b-7{
  background-image: url('flyers/omzo_transcpr.jpg');
  background-position: center;
  background-size: cover;
}



/* SERVICES SECTION */

#services-section{
  padding: 20px;
  max-width: 600px;
  margin-bottom: 100px;
}
#services-section h2{
  text-align: center;
}
#services-section ul li{
  padding: 10px;
  font-weight: ;
}


/* NEWS LETTER */

#news-letter{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  backdrop-filter: blur(3px);
  border-top: 0px solid white;
  border-bottom: 0px solid white;
}
#news-letter h2, #news-letter p{
  color: #fff;
}


#news-letter form{
  width: 300px;
  padding: 10px;
  border-radius: 7px;
}
#news-letter .inp{
  padding: 13px;
  display: block;
  margin-top: 15px;
  border-radius: 4px;
  background: #ccc;
  color: #333;
  font-weight: bold;
  width: 100%;
  border: none;
}
#news-letter .inp#submit{
  background: gold;
  color: ;
}

#logs-section{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0px;
  margin-top: 0px;
}
.log{
  padding: 15px;
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log .img{
  width: 50px;
  border-radius: 50%;
  margin: 10px auto;
  margin-top: 50px;
}
.log i{
  font-size: 30px;
}
.log h3{
  color: ;
  padding: 15px;
  padding-top: 15px;
}
.log p{
  line-height: 1.5em;
}
#examples{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  margin-top: 0px;
}
.carousel-item{
  max-height: 350px;
  border-radius: 13px;
}
.carousel-item img{
  border-radius: 13px;
  width: auto;
}
#examples .e-box{
  width: 350px;
  margin: 10px;
  background: silver;
  border-radius: 13px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
#examples .e-box a{
  color: ;
  display: block;
  padding: 13px 25px;
  background: black;
  border-radius: 4px;
  box-shadow: 4px 4px 10px #bbb;
  width: fit-content;
  text-decoration: none;
  color: #eee;
  font-weight: bold;
  margin: 10px 0px;
  
}
#examples #corousel-notes{
  padding: 20px;
  background: transparent;
  height: fit-content;
}
#examples #corousel-notes h4{
  margin-bottom: 20px;
}
#examples #corousel-notes p{
  line-height: 1.5em;
}


/* REVIEWS SECTION */
#reviews-section{
  margin: 0px auto;
  margin-bottom: 0px;
  padding: 50px 15px;
  padding-bottom: ;
  background: #000;
  display: none;
}
.divider{
  text-align: center;
  font-style: italic;
  padding: 30px;
}
#reviews-section h3{
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.review{
  margin: 13px auto;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background: #000;
  border-radius: 13px;
  box-shadow: 0px 0px 10px #444;
}
.review .profile{
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
.review .profile .prof-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  margin-right: 20px;
}
.review .review-note p{
  line-height: 1.5em;
}




footer{
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  color: #ccc;
  padding-top: 100px;
}
footer .f-box{
  width: 300px;
  padding: 20px;
  padding-bottom: 0px;
}

footer h3{
  color: #eee;
}
footer .f-box a{
  text-decoration: none;
}

footer .f-box a:hover{
  color: orange;
}
footer .box ul li{
  padding: 5px;
}


.designer{
  padding: 10px;
  font-style: italic;
  background: #000;
  text-align: center;
}
.designer a{
  color: #eee;
  text-transform: lowercase;
  display: inline-block;
  font-size: 12px;
}

/* Back to top implementation */
.container {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.box {
    width: 100%;
    height: 400px;
    background: #348;
    display: grid;
    place-items: center;
    color: #fff;
    margin: 20px auto;
}

.back-btn {
    position: fixed;
    bottom: 20px;
    right: -100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, .4);
    border-radius: 50%;
    font-size: 14px;
    transition: all .4s;
}

.back-btn.active {
    right: 20px;
}

.social{
  padding: 13px;
  list-style: none;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 250px;
}
.social a{
  text-decoration: none;
  color: #fff;
}
.social a:hover{
  color: orange;
}
.social i{
  font-size: 23px;
  margin-right: 12px;
}
.social li{
  margin: 1px solid #444;
  margin: 3px;
}
.rule{
  max-width: 500px;
  margin: auto;
}

@media screen and (max-width: 450px){
  footer .f-box{
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 700px){
  #ab-note{
    margin-left: 50px;
  }
  #ceo-note{
    margin-left: 50px;
  }
  #ceo-section{
    margin-bottom: 100px;
  }
}